* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:wheat;;
}
/* Positioning */
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box {
    position: relative;
    width: 400px;
    height: 200px;
    transform: perspective(0px) rotate(-40deg) skew(25deg);
    box-shadow: -90px 75px 30px rgba(0, 0, 0, .7);
    background: #ffffff url('logo.png');
    background-size: 320px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: 0.8s;
}
.box:hover{
    transform: perspective(500px) rotate(-40deg) skew(25deg) translate(50px, -50px);
    box-shadow: -150px 115px 90px rgba(0, 0, 0, .9);
    cursor: pointer;
}

.box::before{
    content: '';
    width: 90px;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    transform: skewY(-40deg) translate(-90px,-38px);
    background: #999999 url('apple.png');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.box::after{
    content: '';
    width: 100%;
    height: 75px;
    position: absolute;
    bottom:0;
    left: 0;
    transform: skewX(-50deg) translate(45px,76px);
    background: #999999;
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}